@charset "UTF-8";
/* Abbreviation of class name(クラス名の略語)

    bl   ... block
    el   ... element
    styl ... style
    ly   ... layout
    hdr  ... header
    sect ... section
    cnt  ... content
    ftr  ... footer
    tl   ... title
    txt  ... text
    wpr  ... wrapper
    bg   ... background
    abt  ... about
    w    ... width
    pd   ... padding
    btn  ... button
    tc   ... theme color

---------------------------------------- */
/* common part
----------------- */
html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #121212;
}

a {
  text-decoration: none;
  color: #121212;
}
a:hover {
  opacity: 50%;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.wpr_w900 {
  max-width: 900px;
  margin: 0 auto;
}

.wpr_pd20 {
  padding: 0 20px;
}

/* body
----------------- */
.index_ly {
  position: relative;
}
@media (min-width: 960px) {
  .index_ly {
    display: grid;
    grid-template: "... ..... ... .... ..." "... aside ... main ..." 1fr "... ..... ... .... ..."/0 300px 0 1fr 0;
  }
}

@media (min-width: 960px) {
  .logo-aside-box_ly {
    grid-area: aside;
  }
}

@media (min-width: 960px) {
  .main-box_ly {
    grid-area: main;
  }
}

/* header
----------------- */
.hdr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: #ffffff;
  z-index: 20;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 960px) {
  .hdr {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    flex-direction: column;
  }
}

h1 {
  line-height: 1px;
}

h1 > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.top_logo {
  width: 180px;
  margin: 10px 18px;
}
@media (min-width: 960px) {
  .top_logo {
    width: 200px;
    margin: 40px 45px 37px;
  }
}

.aside-hambuger-menu-box {
  padding-left: 40px;
}
@media (min-width: 960px) {
  .aside-hambuger-menu-box {
    padding-left: 44px;
  }
}

.toggle-btn {
  width: 72px;
  height: 72px;
  position: relative;
  cursor: pointer;
}
@media (min-width: 960px) {
  .toggle-btn {
    display: none;
  }
}

.toggle-btn > span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 30px;
  background-color: #121212;
  transition: all 0.5s ease;
  z-index: 20;
}
.toggle-btn > span:nth-child(1) {
  top: calc(50% - 10px);
}
.toggle-btn > span:nth-child(2) {
  top: 50%;
}
.toggle-btn > span:nth-child(3) {
  top: calc(50% + 10px);
}

.blind {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease visibility 0.3 ease;
}
@media (min-width: 960px) {
  .blind {
    display: none;
  }
}

.aside {
  z-index: 20;
  position: absolute;
  top: 0;
  left: -300px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  padding-top: 32px;
  padding-left: 25px;
  width: 300px;
  height: 100vh;
}
@media (min-width: 960px) {
  .aside {
    position: static;
    width: 100%;
    height: auto;
    padding-top: 0;
    padding-left: 0;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 46px;
}
@media (min-width: 960px) {
  .nav-list {
    gap: 12px;
    margin-bottom: 71px;
  }
}

.nav-list > li > a {
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: normal;
}

.sns-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 960px) {
  .sns-list {
    gap: 12px;
  }
}

.sns-list > li > a {
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: normal;
  color: #000000;
}

/* hambuger menu open
----------------- */
.open .toggle-btn > span {
  background-color: #ffffff;
}
.open .toggle-btn > span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-315deg);
}
.open .toggle-btn > span:nth-child(2) {
  opacity: 0;
}
.open .toggle-btn > span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(315deg);
}

.open > .blind {
  opacity: 0.8;
  visibility: visible;
}

.open > .aside {
  left: 0;
}

/* hambuger menu open end
----------------- */
/* toppage-btn
----------------- */
.toppage-btn_position {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 20;
  width: 50px;
  height: 50px;
}

.toppage-btn {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #121212;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease;
}
.toppage-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%) rotate(-45deg);
  border-top: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  border-bottom: 5px solid #121212;
  border-left: 5px solid #121212;
}

.scrolled.toppage-btn {
  opacity: 1;
  visibility: visible;
}

/* toppage-btn end
----------------- */
/* main
----------------- */
/* main common part
----------------- */
.bl__sect-tl-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bl__sect-tl-box > span {
  height: 1px;
  width: clamp(0.625rem, -4.657rem + 33.8vw, 15.625rem);
}
@media (min-width: 960px) {
  .bl__sect-tl-box > span {
    width: 28%;
  }
}
.bl__sect-tl-box > .sect-tl {
  font-size: 1.25rem;
  line-height: 1.05;
  letter-spacing: 0em;
  font-weight: bold;
  padding: 0 10px;
}
@media (min-width: 960px) {
  .bl__sect-tl-box > .sect-tl {
    font-size: 1.75rem;
    line-height: 1;
    letter-spacing: 0em;
    font-weight: bold;
    padding: 2px 10px 0;
  }
}

/* main common part end
----------------- */
.video {
  width: 100%;
  height: 85vh;
}
@media (min-width: 960px) {
  .video {
    height: 100vh;
  }
}

.bg-move-fix {
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 72px;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100vh;
}
@media (min-width: 960px) {
  .bg-move-fix {
    top: 0;
    left: 300px;
    height: 100%;
  }
}

.bgc-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.example-features_ly {
  display: grid;
  grid-template: "... ........ ..." 64px "... example  ..." "... ........ ..." 124px "... features ..." "... ........ ..." 116px/0 1fr 0;
}
@media (min-width: 960px) {
  .example-features_ly {
    grid-template: "... ........ ..." 64px "... example  ..." "... ........ ..." 214px "... features ..." "... ........ ..." 160px/0 1fr 0;
  }
}

.example {
  grid-area: example;
}

.features {
  grid-area: features;
}

/* example
----------------- */
.example-features_ly .bl__sect-tl-box > span {
  background-color: #ffffff;
}
.example-features_ly .bl__sect-tl-box > .sect-tl {
  color: #ffffff;
}

.example > .bl__sect-tl-box {
  margin-bottom: 33px;
}
@media (min-width: 960px) {
  .example > .bl__sect-tl-box {
    margin-bottom: 66px;
  }
}

.example__cnt-ly {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
@media (min-width: 960px) {
  .example__cnt-ly {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6.511%;
    grid-row-gap: 9.5%;
  }
}
.example__cnt-ly > li {
  box-sizing: border-box;
  border: 1px solid #ffffff;
}
.example__cnt-ly > li > a {
  position: relative;
  opacity: 1;
}
.example__cnt-ly > li > a::after {
  content: "";
  box-shadow: 0 -35px 10px -13px #2e2e2e inset;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.example__cnt-ly > li > a > span {
  position: absolute;
  bottom: 6px;
  left: 7px;
  color: #ffffff;
  z-index: 10;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.001em;
  font-weight: normal;
}

/* feartures
----------------- */
.features__cnt-ly {
  display: flex;
  justify-content: center;
  gap: clamp(1.125rem, 0.553rem + 2.44vw, 2.688rem);
}

.features > .bl__sect-tl-box {
  margin-bottom: 34px;
}
@media (min-width: 960px) {
  .features > .bl__sect-tl-box {
    margin-bottom: 66px;
  }
}

.features__cnt_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 30%;
}
.features__cnt_box > a {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 0.8571428571;
  letter-spacing: 0em;
  font-weight: normal;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 100%;
  padding-top: calc(50% - 7px);
  padding-bottom: calc(50% - 7px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  overflow: hidden;
  position: relative;
}
.features__cnt_box > a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.features__cnt_box > a:hover {
  opacity: 1;
}
.features__cnt_box > a:hover::after {
  left: 0;
}
.features__cnt_box > .features__cnt-tl {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: bold;
  margin-bottom: 9px;
}
.features__cnt_box > p {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0em;
  font-weight: normal;
  text-align: center;
}

/* features end
----------------- */
.bcc-white {
  background-color: #ffffff;
}

/* flow
----------------- */
.flow_ly {
  display: grid;
  grid-template: "... ........... ..." 66px "... tl          ..." "... ........... ..." 32px "... summary     ..." "... ........... ..." 30px "... sheet       ..." "... ........... ..." 51px "... explanation ..." "... ........... ..." 123px/0 1fr 0;
}
@media (min-width: 960px) {
  .flow_ly {
    grid-template: "... ....... ....... ........... ..." 123px "... tl      tl      tl          ..." "... ....... ....... ........... ..." 64px "... summary summary summary     ..." "... ....... ....... ........... ..." 60px "... sheet   ....... explanation ..." "... ....... ....... ........... ..." 134px/0 200px 40px 1fr 0;
  }
}

.flow > .bl__sect-tl-box {
  grid-area: tl;
}
@media (min-width: 960px) {
  .flow > .bl__sect-tl-box .sect-tl {
    padding: 4px 10px 0;
  }
}

.flow-contact_ly .bl__sect-tl-box > span {
  background-color: #121212;
}

.flow-summary {
  grid-area: summary;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0em;
  font-weight: normal;
}

.flow-sheet-box {
  grid-area: sheet;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 960px) {
  .flow-sheet-box {
    padding: 0;
  }
}

.bl__flow-item {
  width: calc(100vw - 80px);
  height: 80px;
  background-color: #414141;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;
}
@media (min-width: 960px) {
  .bl__flow-item {
    width: 100%;
  }
}
.bl__flow-item::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 50%;
  width: 50px;
  height: 60px;
  transform: translateX(-50%);
  background-color: #ffdd00;
  z-index: 1;
}
.bl__flow-item::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  border-top: 30px solid #414141;
  border-right: calc(50vw - 40px) solid transparent;
  border-left: calc(50vw - 40px) solid transparent;
  z-index: 2;
}
@media (min-width: 960px) {
  .bl__flow-item::after {
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
  }
}
.bl__flow-item:first-of-type::before {
  content: none;
}
.bl__flow-item:last-of-type {
  margin-bottom: 30px;
}

.bl__flow-item > p {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: normal;
}

.flow-explanation-box {
  grid-area: explanation;
  display: flex;
  flex-direction: column;
  gap: 43px;
  padding-left: 5px;
}
@media (min-width: 960px) {
  .flow-explanation-box {
    padding-left: 2px;
    padding-top: 2px;
    gap: 45px;
  }
}

.flow_explanation-cnt-box {
  display: grid;
  grid-template: "... ...... ... ... ..." "... circle ... txt ..." "... ...... ... ... ..."/0 35px 10px 1fr 0;
}

.bl__circle {
  grid-area: circle;
  width: 35px;
  height: 35px;
  background-color: #414141;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bl__circle > p {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: normal;
  color: #ffffff;
  transform: translateY(-1px);
}

.flow_explanation-txt-box {
  grid-area: txt;
}

.flow__explanation-txt-tl {
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: normal;
  padding-top: 2px;
  padding-bottom: 12px;
  border-bottom: 1px solid #121212;
  margin-bottom: 8px;
}

.flow__explanation-txt {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0em;
  font-weight: normal;
}

/* contact
----------------- */
.contact_ly {
  padding-bottom: 116px;
}
@media (min-width: 960px) {
  .contact_ly {
    padding-bottom: 157px;
  }
}

.contact > .bl__sect-tl-box {
  margin-bottom: 32px;
}
@media (min-width: 960px) {
  .contact > .bl__sect-tl-box {
    margin-bottom: 64px;
  }
}
@media (min-width: 960px) {
  .contact > .bl__sect-tl-box .sect-tl {
    padding: 4px 10px 0;
  }
}

.contact-summary {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 27px;
}
@media (min-width: 960px) {
  .contact-summary {
    margin-bottom: 57px;
    text-align: left;
  }
}

.contact__cnt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
@media (min-width: 960px) {
  .contact__cnt-box {
    flex-direction: row;
    justify-content: space-between;
    gap: auto;
  }
}
.contact__cnt-box li {
  height: 195px;
  position: relative;
  width: 62%;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  transition: all 0.3s;
}
@media (min-width: 960px) {
  .contact__cnt-box li {
    width: 30.2%;
  }
}
.contact__cnt-box li::after {
  content: "";
  position: absolute;
  right: 4px;
  bottom: 4px;
  border-top: 10px solid transparent;
  border-right: 10px solid #121212;
  border-bottom: 10px solid #121212;
  border-left: 10px solid transparent;
}
.contact__cnt-box li:hover {
  border: 3px solid #121212;
}
.contact__cnt-box li > a {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #121212;
  opacity: 1;
}
.contact__cnt-box li > a > img {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}
.contact__cnt-box li > a > p {
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: normal;
}

/* footer
----------------- */
#ftr {
  background-color: #121212;
}

.ftr_ly {
  display: grid;
  grid-template: "... .... ..." 51px "... link ..." "... .... ..." 62px "... copy ..." "... .... ..." 22px/0 1fr 0;
}
@media (min-width: 960px) {
  .ftr_ly {
    grid-template: "... .... ..." 50.5px "... link ..." "... .... ..." 62px "... copy ..." "... .... ..." 22px/0 1fr 0;
  }
}

.ftr-link-list {
  grid-area: link;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 11px;
}
.ftr-link-list > li {
  padding: 3px 20px;
  border-right: 1px solid #ffffff;
}
.ftr-link-list > li:first-of-type {
  padding: 3px 20px 3px 0;
}
.ftr-link-list > li:last-of-type {
  border-right: none;
}
@media (min-width: 960px) {
  .ftr-link-list > li {
    padding: 3px 19.5px;
  }
  .ftr-link-list > li:first-of-type {
    padding: 3px 20px;
  }
}
.ftr-link-list > li > a {
  display: block;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: normal;
  color: #ffffff;
}

.copyright {
  grid-area: copy;
  color: #ffffff;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */